painel/uploads/*.*
/.idea/
.syspass/*.*
schemas/*.sql
assets/img/*
tests/_output
index*
particles.json
config*
painel/.htaccess*
assets/vendor/
classes/tcpdf/
classes/phpmailer/
node_modules/
syspass/
painel/uploads/
wic/*.*
security.txt
openbugbounty/*.*
painel/uploads/*.*
/.idea/
index*
assets/vendor/
classes/phpmailer/
node_modules/
syspass/
painel/uploads/
openbugbounty/
config.php
config.php.save
.env
*.key
*.pem
*.log
*.cache
*.tmp
*.bak
*.swp
*.swo
.DS_Store
Thumbs.db
wic/
syspass/
syspass/*.*
openbugbounty/
.idea/
.vscode/
*.iml
*.tar.gz
*.zip
*.gz
*.save
*.log
*.tmp
**/backup/*.tar.gz
**/*.sql
/vendor/
/**/vendor/
/classes/phpmailer/vendor/
/syspass/vendor/
/painel/uploads/
/assets/img/
/wic/*.mp4
**/cache/
/**/temp/
/tests/_output/
*.swp
*.swo
.DS_Store
.vscode/
.idea/
.env
syspass
painel/comprovantes/
painel/declaracoes/
/painel/uploads/
